<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shine.dao.DepartmentMapper">
    <!--  查询部门的结果映射  -->
    <resultMap id="DeptRetMap" type="com.shine.entity.Department">
        <id column="id" property="id"></id>
        <result column="dept_name" property="deptName"></result>

        <collection property="employees" ofType="com.shine.entity.Employee">
            <id column="eid" property="id"></id>
            <result column="emp_name" property="empName"></result>
            <result column="salary" property="salary"></result>
            <result column="dept_id" property="deptId"></result>
        </collection>

    </resultMap>

    <!--  Department findDeptWithEmpById(int id);  -->
    <select id="findDeptWithEmpById" resultMap="DeptRetMap">
        SELECT
            d.id,
            d.dept_name,
            e.id eid,
            e.emp_name,
            e.salary,
            e.dept_id
        FROM
            department d
            LEFT JOIN employee e ON d.id = e.dept_id
        WHERE
            d.id=#{id}
    </select>

<!-- =============================================================== -->
    <!--  员工映射  -->
    <resultMap id="EmpResultMap" type="com.shine.entity.Employee">
        <id column="id" property="id"></id>
        <result column="emp_name" property="empName"></result>
        <result column="salary" property="salary"></result>
        <result column="dept_id" property="deptId"></result>
    </resultMap>

    <!--  List<Employee> findEmpByDeptId(int deptId);  -->
    <select id="findEmpByDeptId" resultMap="EmpResultMap">
        SELECT
            *
        FROM
            employee
        WHERE
            employee.dept_id = #{deptId};
    </select>

    <!--  部门映射  -->
    <resultMap id="DeptRestultMap" type="com.shine.entity.Department">
        <id column="id" property="id"></id>
        <result column="dept_name" property="deptName"></result>

        <collection
                property="employees"
                ofType="com.shine.entity.Employee"
                select="com.shine.dao.DepartmentMapper.findEmpByDeptId"
                column="id">
        </collection>
    </resultMap>

    <!--  Department findDeptById(int id);  -->
    <select id="findDeptById" resultMap="DeptRestultMap">
        SELECT
            *
        FROM
            department
        WHERE
            department.id = #{id};
    </select>

</mapper>